.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 15vh;
    background-color: rgb(219, 18, 219);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
} 